<ul class="header-tabs">
	<li class="header-tab">
		<a href="#/home" class="header-link" data-ng-class="{ 'active' : header_tab == 'routes' }">Поиск</a>
	</li>
	<li class="header-tab">
		<a href="#/templates" class="header-link" data-ng-class="{ 'active' : header_tab == 'templates' }">Шаблоны</a>
	</li>
	<li class="header-tab">
		<a href="#/shedule" class="header-link" data-ng-class="{ 'active' : header_tab == 'schedule' }">Расписание</a>
	</li>
</ul>
